@using Cryptocash.Ui.Generated.Component;
@inherits UiErrorSummaryBase

@if (Errors != null)
{
    <MudSimpleTable Style="overflow-x: auto;" Elevation="0" Bordered="false" Dense="true" Outlined="false">
        <tbody>
            @foreach (var error in Errors)
            {
                @foreach (string CurrentErrorMsg in error.Value)
                {                    
                    <tr>
                        <td style="border-bottom: none;vertical-align: top;">
                            <MudText Typo="Typo.subtitle2" Color="@Color.Error">@error.Key</MudText>
                        </td>
                        <td style="border-bottom: none;vertical-align: top;">
                            <MudText Typo="Typo.subtitle2" Color="@Color.Error">@CurrentErrorMsg</MudText>
                         </td>
                    </tr>
                }
            }
        </tbody>
    </MudSimpleTable>
}