@inherits UiHeaderBase

<div class="top-row px-4" style="padding:0px;background-color:white;border-bottom-style:solid;border-bottom-color:#e24a53;border-bottom-width:3px;">
    <table style="width:100%">
        <tr>
            <td style="text-align:left;padding:7px 0px 0px 5px;">
                <MudImage Src="images/Cryptocash.png" />
            </td>
            <td style="display: flex; justify-content: flex-end;">
                <UiLoginDisplay />
            </td>
        </tr>
    </table>
</div>

<MudText Typo="Typo.h6" Style="padding: 20px 0px 0px 25px;">@GlobalData?.CurrentApiDefinition?.Name</MudText>